@import "tailwindcss";

/* Variables base */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-geist-mono);
}

/* Tema oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Animación fondo degradado */
@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Fondo animado */
.bg-animated {
  background: linear-gradient(-45deg, #0f2027, #203a43, #2c5364, #0d0d0d);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}


/* Estilos base */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}

.icon-glow:hover {
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.6))
          drop-shadow(0 0 12px rgba(255, 255, 255, 0.4));
}
